@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>*@

<h2>Ce este Community ?</h2>
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<div class="text-center">
    <p>
        Community este o aplicatie web destinat tutuor persoanelor care vor sa transporte orice obiect (indifferent de greutate sau de marime) ,ceea ce nu toate firmele de curier pot sa transporte sau a persoanelor care au masini mai mari sau o firma de curierat la inceput ,ei putand sa isi gaseasca in aceasta aplicatie clienti care au ceva de transportat.
    </p>
    <p>
        De asemenea, in aplictie persoanele care vor sa isi transporte un produs ,adauga un anunt, iar persoanele care vad anuntul si sunt interesante pot sa ii lase o oferta ,un numar de telefon si un mesaj. Daca clientul accepta oferta atunci anuntul va disparea din lista cu anunturi active.
    </p>
    <p>
        Scopul acestui site este de ai ajuta pe cei care il acceseaza, sa gaseasca  cele mai bune oferte la anunturile lor.
    </p>
</div>
<style>
    p {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 15px;
        position: center;
        text-align: left;
    }
</style>