@{
    ViewBag.Title = "Contact";
}
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<h2>Ne puteti contacta la adresa de email</h2>
<br />
<h3>community123401@gmail.com</h3>