
@{
    ViewBag.Title = "Registration";
}

<h2>Registration Complete</h2>
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<div class="alert-success">
    <strong>Message: </strong> @ViewBag.Message
</div>
